[submodule "server"]
	path = server
	url = git@github.com:laurentgoudet/notesearch-server.git
[submodule "chrome-ext"]
	path = chrome-ext
	url = git@github.com:laurentgoudet/notesearch-chrome-ext.git
